$color-primary: rgb(255, 183, 77);
$color-secondary:rgb(77, 182, 172);
$color-warning:rgb(229, 0, 113);
$color-warning-light:rgb(255, 64, 159);

$color-light:rgba(255, 255, 255,0.87);
$color-medium:rgba(255, 255, 255, 0.6);
$color-disabled:rgba(255, 255, 255,0.38);

$background-paper:rgb(28, 36, 48);