$color-primary: #ffb74d;
$color-secondary:#4db6ac;
$color-info:#ab47bc;

$color-light:rgba(255, 255, 255,0.87);
$color-medium:rgba(255, 255, 255, 0.6);
$color-disabled:rgba(255, 255, 255,0.38);

$background-paper:#1c2430;