@import "../sass/variables";

.navigation {
  font-size: 1rem;
}

.list {
  list-style: none;
}

.item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: $color-secondary;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
  }

  &:hover::before {
    transform: scaleY(1);
    width: 100%;
  }

  &:active::before {
    background-color: rgba(whitesmoke, 0.5);
  }

  & a:link,
  & a:visited {
    color: $color-disabled;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0.8rem 4.5rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    transition: color 0.6s;
  }

  & a:hover {
    color: $color-medium;
  }

  &.active a {
    color: $color-light;
    background-color: rgba(black, 0.2);
  }
}
