@import "./sass/variables";
@import "./sass/base";
@import "./sass/typography";
@import "./sass/mixins";

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 15rem;
  overflow-y: auto;
  overflow-x: hidden;
}

// FR/EN toggle button
.languageBtn {
  width: 10rem;
  height: 5rem;
  background-color: transparent;
  position: fixed;
  right: -4rem;
  top: 0;
  z-index: 3;
}

// Navigation
.side-menu {
  width: 15rem;
  background-color: $background-paper;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  right: auto;
  bottom: 0;
  display: flex;
  z-index: 3;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 2rem 0;
  box-shadow: 1px 0px 5px 0px rgba(255, 255, 255, 0.295);
}

//Global Components boxes
.container {
  // border:1px solid white;
  width: 90%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem auto;
  padding:0.8rem
}


.block {
  display: flex;
  flex-direction: column;
  width: 47%;
  padding:1rem;
  // flex-grow: 1
  
}

//Typography
.highlight {
  color:$color-secondary;
}

//HOME
.title {
  width: 120%;
  display: flex;
  font-family: "Montserrat", "Roboto";

  & p{
    font-size:2rem;
    height:2rem;
    align-self:center;
  }
}

.myName {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(5, 3rem);
  grid-template-rows: repeat(5, 3rem);
  font-family: "Capriola", "Roboto";
  font-size: 3rem;

  & > div {
    height: 100%;
  }

  &__main {
    font-size: 7rem;

    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: inline-block;

    &--first {
      grid-column: 1 / 3;
      grid-row: 1 / span 3;
      margin-left: -0.8rem;

      background: linear-gradient( #fcf85a, #fe775a);
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
    }

    &--last {
      grid-column: 2 / 4;
      grid-row: 3 / span 3;
      margin-top: -1.8rem;

      background: linear-gradient( #feaa5a, #da4344);
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__firstName {
    grid-column: 2 / 4;
    grid-row: 2 / span 1;
    text-align: center;
    margin-left: -1.5rem;
  }

  &__lastName {
    grid-column: 3 / 5;
    grid-row: 3 / span 1;
  }
}

//SKILLS

.test {
  color:rgb(33, 150, 243)
}


